@{
	ViewData["Title"] = "SurfSP";
	Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/praias.css">
    <title>Tipos de Onda</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

		.btnMudarTela {
			background-color: dodgerblue;
			border-radius: 30px;
			margin: 0 auto;
			margin-top: 50px;
			align-content: center;
			display: block;
			width: 80%;
			height: 100px;
			font-size: large;
			text-decoration: none;
			border: 0;
		}

	</style>
</head>

<body>

    <button class="btnMudarTela">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">A página ou função ainda não foi implementada!
            Aperte no texto para voltar.
        </a>
    </button>

</body>
</html>